<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Angular Material style sheet -->
    <!-- <link
      rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css"
    /> -->
    <link rel="stylesheet" href="./angular-material.min.css" />
  </head>

  <body ng-app="BlankApp" ng-cloak>
    <div ng-controller="myCtrl">
      <mc-dates
        date-from="‘$ctrl.date1’"
        date-to="‘$ctrl.date2’"
        mc-change="cb()"
      ></mc-dates>
      <div>
        <md-input-container>
          <label>Дата 1</label>
          <input type="text" ng-change="changeInput()" ng-model="date1" />
        </md-input-container>
        <md-input-container>
          <label>Дата 2</label>
          <input ng-change="changeInput()" ng-model="date2" />
        </md-input-container>
      </div>
    </div>

    <hr />

    <!-- <div ng-controller="MainCtrl" ng-form="form1">
      <div class="header">
        AngularJs directive for automatic formatting of numeric values in input
        fields.©
      </div>

      Without decimal places
      <input type="text" sg-number-input ng-model="numericValue" />
      <br />

      With 2 decimal places
      <input
        type="text"
        sg-number-input
        fraction-size="2"
        ng-model="numericValue"
      />
    </div> -->

    <div ng-controller="MainCtrl">
      <div ng-repeat="dateFormat in dateFormats">
        <input
          id=" id{{ $index }}"
          class="datepicker"
          type="text"
          ng-model="mainScope.myDate"
          mo-date-input="{{ dateFormat }}"
        />
      </div>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script> -->
    <script src="./angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script> -->
    <script src="./angular-animate.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script> -->
    <script src="./angular-aria.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script> -->
    <script src="./angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script> -->
    <script src="./angular-material.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script> -->
    <script src="./moment.min.js"></script>
    <!-- Your application bootstrap  -->
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
